.menu-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.menu-bg {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.menu-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding: 0 3%;
  gap: 2%;
}

.menu-text {
  width: 46.875%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  align-items: center;
}

.menu-actions {
  width: 53.125%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.125%;
  padding-right: 3.125%;
}

.switch {
  height: 50%;
  width: 10%;
  /* aspect-ratio: 1; */
  background: #eaeaea;
  border-radius: 12px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch img {
  width: 90%;
  height: 90%;
  image-rendering: pixelated;
}

.attack {
  background: #f01e2c;
}

.surrender {
  background: #676767;
}

button {
  display: flex;
  height: 50%;
  border-radius: 12px;
  font-weight: bold;
  color: white;
}
