/* Fonts */
@font-face {
  font-family: "PokemonGB";
  src: url("/src/assets/fonts/Pixeled.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Page BG */
.ts2-page{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "PokemonGB", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  display: grid;
  place-items: center;
  padding: 24px;
  box-sizing: border-box;

  background:
    linear-gradient(rgba(255,255,255,.10), rgba(255,255,255,.10)),
    repeating-linear-gradient(0deg, rgba(0,0,0,.08) 0, rgba(0,0,0,.08) 1px, transparent 1px, transparent 26px),
    repeating-linear-gradient(90deg, rgba(0,0,0,.08) 0, rgba(0,0,0,.08) 1px, transparent 1px, transparent 26px);
  background-color: #cfcfcf;
}
